<h1 class="display-4 text-center">Finance Security List</h1>
<hr />
<div>
  List :
  <table class="table table-hover">
    <tr *ngFor="let fd of service.list">
      <td>{{ fd.PMId }}</td>
      <td>{{ fd.LoanHolderName }}</td>
      <td>{{ fd.LoanType }}</td>
      <td>{{ fd.LoanDate }}</td>
      <td>{{ fd.InsuranceDate }}</td>
    </tr>
  </table>
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-success btn-lg" type="button" value="Download" ng-click="fnDownLoadRTF();">Download .RTF</button>
  </div>
    <div class="col-md-6">
      <button class="btn btn-success btn-lg" type="button" value="Download" ng-click="fnDownLoadPDF();">Download .PDF</button>
    </div>
</div>
