<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FinancePOC</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="viewer" routerLinkActive="active">Editor View</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tinymce" routerLinkActive="active">TinyMCE</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="filemanager" routerLinkActive="active">Upload and Download</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="finance" routerLinkActive="active">Api Fetched List View</a></li>
    </ul>
  </nav>
<hr>
  <router-outlet></router-outlet>
</div>
