<div class="wrapper fadeInDown">
    <h1 class="example-app-name">FinancePOC</h1>
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets\profile.png" id="icon" alt="User Icon"style='height: 20%; width: 20%; border-radius: 50%; object-fit: cover'/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <!-- <input type="submit" class="fadeIn fourth" routerLink="/main"> -->
        <input type="submit" class="fadeIn fourth" routerLink="/main">
      </form>
  <button routerLink="/main">ByPass</button>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="" >Forgot Password?</a>
      </div>
  
    </div>
  </div>