<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets\profile.png" id="icon" alt="User Icon"style='height: 20%; width: 20%; border-radius: 50%; object-fit: cover'/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In" routerLink="main" routerLinkActive="active">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="welcome" routerLinkActive="active">Forgot Password?</a>
      </div>
  
    </div>
  </div>